# https://www.kernel.org/pub/software/scm/git/docs/git-shortlog.html
Ricardo Signes <rjbs@cpan.org> Ricardo SIGNES <rjbs@cpan.org>
Tomas Doran <bobtfish@bobtfish.net> Tomas Doran (t0m) <t0m@state51.co.uk>
Tomas Doran <bobtfish@bobtfish.net> t0m <bobtfish@bobtfish.net>
